body {
  color: #003366;
}

.search-box-container {
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  padding: 15px;
  margin-bottom: 20px;
}

.add-post-container, .login-form {
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  padding: 15px;
  margin: 20px 0;
}

.preview {
  font-size: 20px;
  padding: 8px 0;
}

.mce-notification {
  display: none;
}

.button-login {
  padding: 5px 30px;
}

.text-navbar {
  color: white;
}